.navbar {
  background: rgb(237, 237, 237);
  height: 5rem;
  width: 100vw;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0px;
  left: 0;
  z-index: 3;
}
/* Dark mode body */
body.dark {
  background-color: #121212;
  color: #f5f5f5;
}

/* Navbar background */
body.dark .navbar {
  background-color: #1e1e1e;
}

/* Dark mode button */
.darkModeBtn i {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.darkModeBtn:hover i {
  transform: rotate(20deg);
}


.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
}

.desktopMenuListItem:hover {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgb(111, 111, 111);
}

.desktopMenuBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  padding: 20px 25px;
}

.active {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgb(111, 111, 111);
}

.mobMenu {
  display: none !important;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.listItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
}

@media screen and (max-width: 720px) {
  .mobMenu {
    display: inline-block !important;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuBtn {
    display: none;
  }
}
