#intro {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-top: 6rem;
    padding-bottom: 4rem;
}



.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    filter: brightness(0.65) contrast(1.1);
}

.introContent {
    min-height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    margin-top: 1rem;
    gap: 1rem;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
    color: rgb(88, 87, 87);
}



.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: #ffffffff;
    margin: 1rem 0;
    padding: 10px;
    border: none;
    border-radius: 2rem;
    color: #000000;
    font-size: 1rem;
}

.btn i {
    font-size: 1.5rem;
}

@media screen and (max-width:840px) {
   
    .introContent {
        font-size: 10vw;
        color: #fff;
        min-height: auto;
        padding-bottom: 3rem;
    }
    .hello {
        font-size: 6vw;
        color: #fff;
    }
    .introPara{
        color: #fff;
    }
    .introName {
        color: rgb(209, 208, 208);
    }
    .links {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:480px) {
    
}