.footer {
    width: 100vw;
    height: 4rem;
    background: var(--color-ink-strong);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    color: #f5f5f5;
}