.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #171717; /* blue */
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 1000;
}

.backToTop.show {
  opacity: 1;
  pointer-events: auto;
}

.backToTop:hover {
  background-color: #303031;
  transform: translateY(-3px);
}
